.rwanda-flag {
    width:200px;
    margin-top: 200px;
    border: thin solid white;
}

.rwanda_title{
    text-shadow: 0px 0px 10px lightpink, 0px 0px 10px lightpink, 1px 1px  white;
}

#rwanda-cities, #rwanda-landmarks, #rwanda-celebrities{
    background-color: rgb(225, 122, 42);
    color: rgb(6, 22, 26);
    border: thin solid white;
    box-shadow: 10px 10px 10px rgb(255, 247, 0);
}

#rwanda, .rwanda {
    color:rgb(184, 11, 11);
    font-family: sans-serif;
}

.rwanda {
    font-size: 28px;
    color: rgb(194, 194, 225);
    text-shadow: 1px 1px 0px white,2px 2px 10px rgb(43, 6, 6);
}

.rwanda-link {
    color:rgb(102, 8, 8);
    min-width: 100px;
}

.rwanda-link:hover {
    color:white;
}



