.rwanda-flag {
    width:200px;
    margin-top: 60px;
    border: thin solid black;
}

#rwanda-cities, #rwanda-landmarks, #rwanda-celebrities{
    background-color: rgb(225, 122, 42);
    color: rgb(6, 22, 26);
    border: thin solid white;
    box-shadow: 10px 10px 10px rgb(255, 247, 0);
}

#rwanda, .rwanda {
    color:rgb(69, 43, 162);
    border: none;
    font-family: sans-serif;
}

.rwanda {
    font-size: 28px;
    color: rgb(194, 194, 225);
    text-shadow: 1px 1px 0px white,2px 2px 10px rgb(43, 6, 6);
}

.rwanda-link {
    color:rgb(102, 8, 8);
}

.rwanda-link:hover {
    color:white;
    
}

